html, body {
   font-family: 'Raleway', sans-serif;
   font-size: 16px;
   font-weight: 500;
   margin: 0;
}

.form-submit {
   margin-right: 15px;
}

.links > a {
   color: #636b6f;
   padding: 0 25px;
   font-size: 12px;
   font-weight: 600;
   letter-spacing: .1rem;
   text-decoration: none;
   text-transform: uppercase;
}

.homebtn{
   width: 25%;
   height: 50px;
   margin: 10px;
   font-size: 20px;
}

/* Bootstrap edit */
.navbar-brand{
   font-size: 22px;
   font-weight: 600;
}

.table-hover>tbody>tr:hover{
   background-color: #d4e4ef;
}

/* End Bootstrap edit */

.new-post {
   padding: 16px 0;
   border-bottom: 1px solid #ccc;
}

.new-post header,
.posts header {
   margin-bottom: 20px;
}

.posts .post {
   padding-left: 10px;
   border-left: 3px solid #a21b24;
   margin-bottom: 30px;
}

.posts .post .info {
   color: #aaa;
   font-style: italic;
}

#print {
   color: black;
}
